.list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:selected {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.main-container {
    -fx-padding: 15px;
}

.page-title {
    -fx-font-size: 28;
    -fx-font-weight: 800;
    -fx-text-fill: #03376e;
}