
.menu-voice {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 6px 10px 6px 10px;
    -fx-background-radius: 8;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 14;
    -fx-font-weight: 600;
    -fx-text-fill: white;
}


.menu-voice .menu-voice-icon {
    -fx-icon-color: white;
}

.menu-voice:hover {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.menu-voice-logout {
    -fx-border-width: 0;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-padding: 6px 10px 6px 10px;
    -fx-background-radius: 8;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 14;
    -fx-font-weight: 800;
    -fx-text-fill: #b52f3a;
}

.menu-voice-logout:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(181, 47, 58, 0.2);
}

.menu-voice-logout:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.menu-voice-selected {
    -fx-border-width: 0;
    -fx-padding: 6px 10px 6px 10px;
    -fx-background-radius: 8;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 14;
    -fx-font-weight: 800;
    -fx-text-fill: #01162c;
}

.menu-voice-selected .menu-voice-icon {
    -fx-icon-color: #01162c;
}

.menu-voice-selected:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.menu-voice:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}


.send-button {
    -fx-background-color: #7db0ec;
    -fx-background-radius: 8;
    -fx-text-fill: #1b1e23;
    -fx-font-weight: 800;
    -fx-font-size: 14;
    -fx-padding: 15 5 15 5;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-border-width: 0;
}

.send-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #5d82ae;
}

.send-button:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
