.title {
    -fx-font-size: 18;
    -fx-font-weight: 800;
    -fx-text-fill: #03376e;
}

.input {
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-background-color: #ededed;
    -fx-padding: 8;
    -fx-font-size: 14;
    -fx-min-width: 450;
    -fx-max-width: 450;
}

.input:focused {
    -fx-border-color: #8cc3ff;
    -fx-background-color: #e3eefa;
}

.area-viewer {
    -fx-cursor: default;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-min-width: 780;
    -fx-max-width: 780;
    -fx-text-fill: #000000;
    -fx-control-inner-background: transparent;
}

.meta-title {
    -fx-font-weight: 700;
    -fx-font-size: 16;
}

.meta-text {
    -fx-font-weight: 500;
    -fx-font-size: 16;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}


.area-viewer:hover {
    -fx-cursor: default;
    -fx-text-fill: #000000;
}

.area-viewer:focused {
    -fx-cursor: default;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.area-viewer:focused .content {
    -fx-cursor: default;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.area-input .content,
.area-input .scroll-pane,
.area-input .viewport {
    -fx-cursor: default;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 20;
    -fx-font-size: 10;
    -fx-padding: 3;
}

.close-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(100, 100, 100, 0.1);
}

.interaction-button {
    -fx-background-color: #011f40;
    -fx-background-radius: 8;
    -fx-text-fill: #ededed;
    -fx-font-weight: 800;
    -fx-padding: 10;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-border-width: 0;
    -fx-font-size: 12;
}

.interaction-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #01162c;
}