.mail-input {
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-background-color: #ededed;
    -fx-padding: 8;
    -fx-font-size: 14;
    -fx-min-width: 200;
    -fx-max-width: 200;
}

.mail-input:focused {
    -fx-border-color: #8cc3ff;
    -fx-background-color: #e3eefa;
}


.login-button {
    -fx-background-color: #011f40;
    -fx-background-radius: 8;
    -fx-text-fill: #ededed;
    -fx-font-weight: 800;
    -fx-padding: 10;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-border-width: 0;
}

.login-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #012d5e;
}
