.connection-overlay-container {
    -fx-font-family: "Poppins";
    -fx-background-color: transparent;
    -fx-max-width: 200;
    -fx-max-height: 40;
}


.connection-overlay-modal {
    -fx-background-color: rgba(220, 220, 220, 0.8);
    -fx-max-width: 160;
    -fx-max-height: 40;
    -fx-padding: 8;
    -fx-background-radius: 8;

}

.status-label {
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.retry-btn {
    -fx-background-color: #3f86c6;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 20;
    -fx-font-size: 10;
    -fx-padding: 3;
}

.retry-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #306797;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.alert-loader {
    -fx-progress-color: #252525; /* color of arc */
    -fx-background-color: transparent;
}

